:root {
	--easy-color: #3cd122;
	--medium-color: #ffc500;
	--hard-color: #ff0000;
	--easy-background: #285620;
	--medium-background: #a05d0b;
	--hard-background: #650b0b;
	--easy-active-color: #2fa31a;
	--medium-active-color: #cc9e00;
	--hard-active-color: #cc0000;
}

.easy {
	--hover-color: var(--easy-color);
	color: var(--easy-color);
	background: var(--easy-background);
}

.easy:active {
	color: var(--easy-active-color);
}

.medium {
	--hover-color: var(--medium-color);
	color: var(--medium-color);
	background: var(--medium-background);
}

.medium:active {
	color: var(--medium-active-color);
}

.hard {
	--hover-color: var(--hard-color);
	color: var(--hard-color);
	background: var(--hard-background);
}

.hard:active {
	color: var(--hard-active-color);
}