td:first-child {
	white-space: nowrap;
	text-align: right;
}

pre {
    tab-size: 4;
	margin: 0;
}

#code-lines {
	padding: 0;
}

#code-lines>:first-child * {
	padding-top: 0.5em;
}

#code-lines>:last-child * {
	padding-bottom: 0.5em;
}

.code-line-number {
	width: 1em;
	text-align: right;
	color: var(--line-number-color);
	padding: 0.15em 0.8em;
	border-right: 1px solid;
}

.code-line-number * {
	color: var(--line-number-color) !important;
}

.code-line-content {
	flex: 1;
	padding: 0.15em 0.8em;
}

.hljs-keyword {
	color: var(--keyword-color);
}

.hljs-title {
	color: var(--title-color);
}

.hljs-params {
	color: var(--code-color);
}

.hljs-built_in {
	color: var(--built-in-color);
}

.hljs-number {
	color: var(--number-color);
}

.active-line * {
	font-weight: bold;
	color: var(--code-background) !important;
	background: var(--title-color);
}