[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pydantic = "*"
python-decouple = "*"

[dev-packages]
django-stubs = { extras = ["compatible-mypy"], version = "*" }
mypy = "*"
python-decouple-typed = "*"

[requires]
python_version = "3.13"
