.algorithmFilters {
  display: flex;
  flex-direction: column;
  gap: var(--size-5);
  width: 100%;
}

.algorithmCount {
  margin-left: auto;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

@media (min-width: 768px) {
  .categories {
    max-height: 7em;
    padding: 2px;
    overflow-y: auto;
    scrollbar-width: none;
  }
}

@media (max-width: 767.98px) {
  .clearButton {
    position: absolute;
    top: var(--size-3);
    right: var(--size-5);
  }
}
