#left {
	color: var(--keyword-color);
}

#right {
	color: var(--title-color);
}

#middle {
	color: var(--built-in-color);
}

.left-number,
.right-number,
.middle-number {
	font-weight: bold;
	color: var(--code-background);
}

.left-number {
	background: var(--keyword-color);
}

.right-number {
	background: var(--title-color);
}

.middle-number {
	background: var(--built-in-color);
}

.left-number.right-number {
	background: linear-gradient(45deg,
			var(--keyword-color) 37%,
			var(--title-color) 63%);
}

.left-number.middle-number {
	background: linear-gradient(45deg,
			var(--keyword-color) 37%,
			var(--built-in-color) 63%);
}

.right-number.middle-number {
	background: linear-gradient(45deg,
			var(--title-color) 37%,
			var(--built-in-color) 63%);
}

.left-number.right-number.middle-number {
	background: linear-gradient(45deg,
			var(--keyword-color) 25%,
			var(--title-color) 45%,
			var(--title-color) 55%,
			var(--built-in-color) 75%);
}