.algorithmListPage {
  display: grid;
  grid-template-areas: "filters main column3";
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: var(--size-6);
  margin: 0 var(--size-6) var(--size-6);
}

.main {
  grid-area: main;
}

.filters {
  grid-area: filters;
}

.column3 {
  grid-area: column3;
}

.filters,
.column3 {
  margin-top: var(--size-7);
}

@media (max-width: 767.98px) {
  .algorithmListPage {
    display: block;
  }

  .drawerButtons {
    justify-content: space-between;
    margin-bottom: var(--size-5);
  }
}
