.algorithmDetailPage {
  display: flex;
  flex-direction: column;
  gap: var(--size-6);
  margin: 0 var(--size-6) var(--size-6);
}

.layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: var(--size-6);
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--size-6);
}

.bottomBar {
  display: flex;
  gap: var(--size-7);
  align-items: center;
  padding: var(--size-3) var(--size-7);
  background: var(--black);
  border-top: 1px solid var(--gray);
}

@media (max-width: 767.98px) {
  .algorithmDetailPage {
    margin-bottom: var(--size-9);
  }

  .layout {
    display: flex;
    flex-direction: column;
  }

  .column {
    display: contents;
  }

  .animation {
    order: 1;
  }

  .code {
    order: 2;
  }

  .explanation {
    order: 3;
  }

  .description {
    order: 4;
  }

  .bottomBar {
    position: fixed;
    inset-inline: 0;
    bottom: 0;
    z-index: 70;
    gap: var(--size-6);
    justify-content: space-around;
    padding-inline: var(--size-6);
  }
}
