.algorithmDetailPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-6);
  margin: 0 var(--size-6) var(--size-6);
}

.algorithmBadges {
  grid-column: 1 / -1;
}

@media (max-width: 767.98px) {
  .algorithmDetailPage {
    display: flex;
    flex-direction: column;
  }
}
