:root {
  background: var(--black);
  font: 16px monospace;
  color: var(--white);
}

@media (max-width: 1023px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  :root {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
}

button,
label {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

fieldset {
  border: none;
}

ul {
  list-style: none;
}

pre {
  tab-size: 4;
}
