.card {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  border: 1px solid var(--gray);
  padding: var(--size-3) var(--size-5);
  background: var(--gray-dark);
}

.scrollable {
  overflow: auto;
  max-height: 15em;
}
