{% extends "algorithms/discussion.html" %}
{% load static %}
{% block discussion_content %}
<div class="flex-grow flex-column large-gap">
	{% for comment in page_obj %}
	<div class="tile flex-column medium-gap">
		<div class="flex-row medium-gap">
			<a href="#"><b>{{ comment.user }}</b></a>
			<span class="readonly-input-background">{{ comment.created|timesince }} ago</span>
		</div>
		<p>{{ comment }}</p>
		<div class="flex-row align-items-center large-gap">
			{{ comment.likes.count }} like{% if comment.likes.count != 1 %}s{% endif %}
			{% if comment.user == request.user %}
			<a href="{% url 'edit-comment' algorithm.slug comment.id %}{% querystring %}"
			   class="edit link align-items-center small-gap">
				<svg height="1em" viewBox="0 0 17.99 17.58">
					<use href="{% static 'icons/icons.svg' %}#edit"></use>
				</svg>
				edit
			</a>
			<a href="{% url 'delete-comment' algorithm.slug comment.id %}{% querystring %}"
			   class="delete link align-items-center small-gap">
				<svg height="1em" viewBox="0 0 17.99 19.99">
					<use href="{% static 'icons/icons.svg' %}#delete"></use>
				</svg>
				delete
			</a>
			{% else %}
			<form action="{% url 'like-comment' algorithm.slug comment.id %}{% querystring %}" method="post">
				{% csrf_token %}
				{% if request.user in comment.likes.all %}
				<button class="liked link align-items-center small-gap">
					<svg height="1em" viewBox="0 0 18.55 18.75">
						<use href="{% static 'icons/icons.svg' %}#like"></use>
					</svg>
					liked
				</button>
				{% else %}
				<button class="like link align-items-center small-gap">
					<svg height="1em" viewBox="0 0 18.55 18.75">
						<use href="{% static 'icons/icons.svg' %}#like"></use>
					</svg>
					like
				</button>
				{% endif %}
			</form>
			{% endif %}
		</div>
	</div>
	{% endfor %}
	<form method="post">
		{% csrf_token %}
		<div class="flex-row medium-gap">
			<textarea id="{{ form.body.auto_id }}"
					  name="{{ form.body.html_name }}"
					  placeholder="write your comment here..."
					  rows="5"
					  class="flex-grow{% if form.body.errors %} field-error{% endif %}">{% if form.body.value %}{{ form.body.value }}{% endif %}</textarea>
			<button>comment</button>
		</div>
		{% for error in form.body.errors %}
		<p class="error-message">{{ error }}</p>
		{% endfor %}
	</form>
	{% include "pagination.html" %}
</div>
{% endblock discussion_content %}