{% load static %}
<div class="tile flex-column medium-gap">
	<div class="flex-row medium-gap">
		<a href="#"><b>{{ comment.user }}</b></a>
		<span class="readonly-input-background">{{ comment.created|timesince }} ago</span>
	</div>
	<p>{{ comment }}</p>
	<div class="flex-row align-items-center large-gap">
		<span class="nowrap">{{ comment.likes.count }} like{% if comment.likes.count != 1 %}s{% endif %}</span>
		<div class="flex-row medium-gap">
			{% if comment.user != request.user %}
			<form action="{% url 'like-comment' algorithm.slug comment.id %}{% querystring next=request.get_full_path %}" method="post">
				{% csrf_token %}
				{% if request.user in comment.likes.all %}
				<button class="liked link align-items-center small-gap">
					<svg height="1em" viewBox="0 0 18.55 18.75">
						<use href="{% static 'icons/icons.svg' %}#like"></use>
					</svg>
					liked
				</button>
				{% else %}
				<button class="like link align-items-center small-gap">
					<svg height="1em" viewBox="0 0 18.55 18.75">
						<use href="{% static 'icons/icons.svg' %}#like"></use>
					</svg>
					like
				</button>
				{% endif %}
			</form>
			{% endif %}
			{% if not is_replies_page %}
			<a href="{% url 'comment-replies' algorithm.slug comment.id %}{% querystring sortby=None page=1 next=request.get_full_path %}"
				class="link align-items-center small-gap">
				<svg height="1em" viewBox="0 0 19.99 19.99">
					<use href="{% static 'icons/icons.svg' %}#discussion"></use>
				</svg>
				{% with replies_count=comment.replies.count %}
				{% if replies_count > 0 %}
				show {{ replies_count }} repl{% if replies_count == 1 %}y{% else %}ies{% endif %}
				{% else %}
				reply
				{% endif %}
				{% endwith %}
			</a>
			{% endif %}
			{% if comment.user == request.user %}
			<a href="{% url 'edit-comment' algorithm.slug comment.id %}{% querystring next=request.get_full_path %}"
				class="edit link align-items-center small-gap">
				<svg height="1em" viewBox="0 0 17.99 17.58">
					<use href="{% static 'icons/icons.svg' %}#edit"></use>
				</svg>
				edit
			</a>
			<a href="{% url 'delete-comment' algorithm.slug comment.id %}{% querystring next=request.get_full_path %}"
				class="delete link align-items-center small-gap">
				<svg height="1em" viewBox="0 0 17.99 19.99">
					<use href="{% static 'icons/icons.svg' %}#delete"></use>
				</svg>
				delete
			</a>
			{% endif %}
		</div>
	</div>
</div>