{% extends "index.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'algorithms/styles/visualization.css' %}">
{% block animation_styles %}{% endblock animation_styles %}
{% endblock styles %}
{% block content %}
<h1>{{ name }}</h1>
<div id="visualization">
	<div>
		{% csrf_token %}
		<div id="test-cases">
			{% for test_case in test_cases %}
			<div class="test-case">
				<input type="radio" id="test-case-{{ test_case.id }}" name="test-case" value="{{ test_case.id }}">
				<table>
					{% for key, value in test_case.body.items %}
					<tr>
						<td><label for="test-case-{{ test_case.id }}">{{ key }} =</label></td>
						<td><input value="{{ value }}" disabled></td>
					</tr>
					{% endfor %}
				</table>
			</div>
			{% endfor %}
			<div class="test-case">
				<input type="radio" id="test-case-custom" name="test-case" value="custom">
				<table>
					{% for key in test_cases.0.body %}
					<tr>
						<td><label for="test-case-custom">{{ key }} =</label></td>
						<td><input id="{{ key }}-input" class="custom-input"></td>
					</tr>
					<tr>
						<td></td>
						<td><span id="{{ key }}-error-message" class="error-message"></span></td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<div id="radio-error-message" class="error-message"></div>
		<button id="start-button">start</button>
		<div id="animation-container">
			{% block animation %}{% endblock animation %}
		</div>
		<div id="output-container"></div>
		<button id="next-step-button" class="hidden">next</button>
		<button id="restart-button" class="hidden">restart</button>
	</div>
	<div id="lines">
		{% for line in code %}
		<pre id="line_{{ forloop.counter }}" class="line">
			<code class="language-python line-number">{{ forloop.counter }}</code>
			<code class="language-python line-code">{{ line }}</code>
		</pre>
		{% endfor %}
	</div>
</div>
{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script src="{% static 'algorithms/scripts/visualization.js' %}"></script>
{% block animation_scripts %}{% endblock animation_scripts %}
{% endblock scripts %}