.navbar {
  display: flex;
  gap: var(--size-8);
  align-items: center;
  justify-content: space-between;
  padding: var(--size-4) var(--size-8);
  border-bottom: 1px solid var(--gray);
}

.nav {
  display: flex;
  gap: var(--size-8);
}

.navLinks,
.userNav {
  display: flex;
  gap: var(--size-6);
}

.navLink {
  --background: var(--black);
}

.navLinkActive {
  --color: var(--black);
  --background: var(--white);
  border-color: transparent;
}

.navLinkActive:active {
  color: var(--black) !important;
  background: var(--muted-color);
}

@media (max-width: 1023.98px) {
  .navbar {
    gap: var(--size-7);
    padding-inline: var(--size-7);
  }

  .nav {
    gap: var(--size-7);
  }

  .navLinks,
  .userNav {
    gap: var(--size-4);
  }
}

@media (max-width: 767.98px) {
  .nav {
    flex-direction: column;
  }

  .navLinks,
  .userNav {
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
  }

  .navLinks {
    padding-bottom: var(--size-7);
    border-bottom: 1px solid var(--gray);
  }

  .navLink,
  .userNavItem {
    width: 160px;
  }
}
