.algorithmCode {
  gap: 0;
  padding: 0;
  overflow-x: auto;
}

.line {
  display: flex;
}

.line:first-child > * {
  padding-top: 0.5em;
}

.line:last-child > * {
  padding-bottom: 0.5em;
}

.lineNumber {
  flex-shrink: 0;
  width: 2.3em;
  padding-inline: 0.6em;
  color: var(--gray-light);
  text-align: right;
  border-right: 1px solid;
}

.lineContent {
  flex-grow: 1;
  padding-inline: 0.8em;
}

.lineNumber,
.lineContent {
  padding-block: 0.15em;
}

.currentLine * {
  font-weight: bold;
  color: var(--gray-dark);
  background: var(--blue-light);
}
