{% extends "algorithms/visualization.html" %}
{% load static %}
{% block animation_styles %}
<link rel="stylesheet" href="{% static 'algorithms/styles/animations/binary_search.css' %}">
{% endblock animation_styles %}
{% block animation %}
<div class="flex-column medium-gap">
	<div>
		target = <span id="target-value"></span>
	</div>
	<div id="numbers" class="list"></div>
	<div id="left" class="variable invisible">
		left = <span id="left-value"></span>
	</div>
	<div id="right" class="variable invisible">
		right = <span id="right-value"></span>
	</div>
	<div id="middle" class="variable invisible">
		middle = <span id="middle-value"></span>
	</div>
</div>
{% endblock animation %}
{% block animation_scripts %}
<script src="{% static 'algorithms/scripts/animations/binary_search.js' %}"></script>
{% endblock animation_scripts %}