.card {
  padding-bottom: var(--size-5);
}

.heading {
  margin-inline: auto;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}

.submitButton {
  margin: var(--size-2) auto var(--size-1);
}
