<nav class="flex-row align-items-center">
	<a href="{% url 'algorithms' %}">{% include "logo.html" %}</a>
	<div class="flex-row extra-large-gap">
		<ul id="nav-main" class="flex-row large-gap">
			<li><a href="{% url 'algorithms' %}" class="link">algorithms</a></li>
			<li><a href="#" class="link">about</a></li>
			<li><a href="#" class="link">contact</a></li>
		</ul>
		<ul class="flex-row large-gap">
			{% if request.user.is_authenticated %}
			<li><a href="#" class="link log-in-link-dark">{{ request.user }}</a></li>
			<li><a href="{% url 'logout' %}" class="link sign-up-link">log out</a></li>
			{% else %}
			<li><a href="{% url 'login' %}" class="link log-in-link-dark">log in</a></li>
			<li><a href="{% url 'registration' %}" class="link sign-up-link">sign up</a></li>
			{% endif %}
		</ul>
	</div>
</nav>