:root {
	--auth-active-color: #4c88bb;
	--readonly-input-background: #a1a1a1;
	--error-color: #eb0000;
}

a {
	text-decoration: none;
	color: inherit;
}

a *,
label {
	cursor: pointer;
}

input,
textarea,
select,
button {
	font: inherit;
}

input[type="radio"] {
	appearance: none;
	display: grid;
	place-content: center;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid var(--code-color);
	border-radius: 50%;
	margin: 0;
	cursor: pointer;
}

input[type="radio"]::before {
	content: "";
	width: 0.4em;
	height: 0.4em;
	border-radius: 50%;
	box-shadow: inset 1em 1em var(--title-color);
	transform: scale(0);
	transition: all 0.15s ease-in-out;
}

input[type="radio"]:checked::before {
	transform: scale(1);
}

input[type="radio"]:hover,
input[type="radio"]:checked {
	border-color: var(--title-color);
	transform: scale(1.1);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
	font-weight: bold;
	color: var(--background);
	background: var(--code-color);
}

input[type="text"],
input[type="email"],
input[type="password"],
.field-error-message {
	width: 25em;
}

input[type="search"],
textarea {
	width: 100%;
}

input[type="text"] {
	padding: 0.1em 0.3em;
}

input[type="email"],
input[type="password"],
input[type="search"],
textarea,
#username-input {
	display: block;
	padding: 0.4em 0.8em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	outline: 0.2em solid var(--line-number-color);
	outline-offset: 0.1em;
}

input[type="text"]:read-only {
	background: var(--readonly-input-background);
}

.field-error {
	border: 0.2em solid var(--error-color);
}

.field-error:focus {
	outline: 0.15em solid var(--error-color) !important;
}

.error-message,
.field-error-message {
	color: var(--error-color);
	text-shadow: 0.08em 0.08em 0.05em var(--background);
	padding: 0.2em 0;
}

button,
.link-button,
.link {
	--hover-color: var(--code-color);
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;
	padding: 0.5em 1em;
	border: 0.2em solid;
	transition: all 0.25s ease;
}

button,
.link-button {
	width: fit-content;
	color: var(--code-background);
	background: var(--code-color);
	border-radius: 0.5em;
	cursor: pointer;
}

.link {
	display: flex;
	color: var(--code-color);
	background: var(--code-background);
	border-radius: 2em;
}

button::before,
.link-button::before,
.link::before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease;
}

button:hover,
.link-button:hover {
	color: var(--code-color);
	background: var(--code-background);
}

.link:hover {
	transform: scale(1.05);
}

button:hover:not(:disabled)::before,
.link-button:hover::before,
.link:hover::before {
	left: 100%;
	background: linear-gradient(120deg,
			transparent,
			var(--hover-color),
			transparent);
}

button:not(:hover:not(:disabled))::before,
.link-button:not(:hover)::before {
	background: linear-gradient(120deg,
			transparent,
			var(--code-background),
			transparent);
}

button.link:not(:hover:not(:disabled))::before {
	background: none;
}

button:active,
.link-button:active,
.link:active {
	color: var(--readonly-input-background);
	transition: all 0.05s ease;
}

button:active,
.link-button:active {
	transform: scale(0.95);
}

.link:active {
	transform: scale(1);
}

button:disabled {
	color: var(--code-background);
	background: var(--line-number-color);
	transform: none;
	cursor: not-allowed;
}

.log-in-link,
.sign-up-link {
	font-size: 1.2rem;
}

.log-in-link {
	--hover-color: var(--background);
	color: var(--background) !important;
	background: var(--title-color) !important;
	border-color: transparent;
}

.log-in-link:active {
	background: var(--auth-active-color) !important;
}

.sign-up-link {
	--hover-color: var(--title-color);
	color: var(--title-color);
}

.sign-up-link:active {
	color: var(--auth-active-color) !important;
}