:root {
    --auth-active-color: #4c88bb;
	--disabled-input-background: #a1a1a1;
	--error-color: #eb0000;
}

input,
textarea,
select,
button {
	font: inherit;
}

label {
	cursor: pointer;
}

input[type="radio"] {
	appearance: none;
	display: grid;
	place-content: center;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid var(--code-color);
	border-radius: 50%;
	margin: 0;
	cursor: pointer;
}

input[type="radio"]::before {
	content: "";
	width: 0.4em;
	height: 0.4em;
	border-radius: 50%;
	box-shadow: inset 1em 1em var(--title-color);
	transform: scale(0);
	transition: all 0.15s ease-in-out;
}

input[type="radio"]:checked::before {
	transform: scale(1);
}

input[type="radio"]:hover,
input[type="radio"]:checked {
	border-color: var(--title-color);
	transform: scale(1.1);
}

input[type="text"] {
	font-weight: bold;
	width: 25em;
	color: var(--background);
	background: var(--code-color);
}

input[type="text"]:disabled {
	background: var(--disabled-input-background);
}

input[type="text"]:focus {
	outline: 0.2em solid var(--line-number-color);
	outline-offset: 0.1em;
}

.invalid-input {
	border: 0.2em solid var(--error-color);
}

.invalid-input:focus {
	outline: 0.15em solid var(--error-color) !important;
}

.error-message {
	color: var(--error-color);
	text-shadow: 0.08em 0.08em 0.05em var(--background);
}

button,
.link {
	--hover-color: var(--code-color);
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;
	padding: 0.5em 1em;
	border: 0.2em solid;
	transition: all 0.25s ease;
}

button {
	width: fit-content;
	color: var(--code-background);
	background: var(--code-color);
	border-radius: 0.5em;
	cursor: pointer;
}

.link {
	display: flex;
	text-decoration: none;
	color: var(--code-color);
	background: var(--code-background);
	border-radius: 2em;
}

button::before,
.link::before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease;
}

button:hover {
	color: var(--code-color);
	background: var(--code-background);
}

.link:hover {
	transform: scale(1.05);
}

button:hover:not(:disabled)::before,
.link:hover::before {
	left: 100%;
	background: linear-gradient(120deg,
			transparent,
			var(--hover-color),
			transparent);
}

button:not(:hover:not(:disabled))::before {
	background: linear-gradient(120deg,
			transparent,
			var(--code-background),
			transparent);
}

button:active,
.link:active {
	color: var(--disabled-input-background);
	transition: all 0.05s ease;
}

button:active {
	transform: scale(0.95);
}

.link:active {
	transform: scale(1);
}

button:disabled {
	color: var(--code-background);
	background: var(--line-number-color);
	transform: none;
	cursor: not-allowed;
}