:root {
	--keyword-color: #e378e3;
	--title-color: #6fbcff;
	--code-color: #d6d6d6;
	--built-in-color: #c8dc14;
	--number-color: #fb8b50;
	--line-number-color: #828282;
	--disabled-input-color: #a1a1a1;
	--code-background-color: #303030;
	--background-color: #161316;
	--error-color: red;
}

body {
	font-family: monospace;
	color: var(--code-color);
	background-color: var(--background-color);
}

input,
textarea,
select,
button {
	font-family: monospace;
}

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden !important;
}