:root {
	--keyword-color: #e378e3;
	--title-color: #6fbcff;
	--code-color: #d6d6d6;
	--built-in-color: #c8dc14;
	--number-color: #fb8b50;
	--line-number-color: #828282;
	--code-background-color: #303030;
}