:root {
	--keyword-color: #e378e3;
	--title-color: #6fbcff;
	--code-color: #d6d6d6;
	--built-in-color: #c8dc14;
	--number-color: #fb8b50;
	--line-number-color: #828282;
	--code-background: #303030;
	--background: #161316;
}

html {
	font: 16px monospace;
	color: var(--code-color);
	background: var(--background);
}

body {
	margin: 0;
}

#content {
	margin: 0 1.5em 1em 1.5em;
}

h1,
.logo {
	width: fit-content;
	background: linear-gradient(to right,
			var(--title-color),
			var(--keyword-color),
			var(--built-in-color));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-size: 200% 100%;
	background-position: left;
	transition: all 1s ease;
	cursor: default;
}

h1 {
	font-size: 2.5rem;
	margin: 1rem 1.5rem;
}

.logo {
	font-size: 1.8rem;
	font-weight: bold;
	text-indent: 2ch;
	line-height: 0.8;
	margin: 0;
}

h2 {
	position: relative;
	display: inline-block;
	font-size: 1.5rem;
	padding-bottom: 0.4em;
	margin: 0 0 0.5em 0;
	cursor: default;
}

h2::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 0.25em;
	background: linear-gradient(to right,
			var(--title-color),
			var(--keyword-color),
			var(--built-in-color));
	background-size: 200% 100%;
	background-position: left;
	border-radius: 1em;
	transition: all 1s ease;
}

h1:hover,
h2:hover::after,
.logo:hover {
	background-position: right;
}

p {
	margin: 0;
}

.flex-row {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.grid-column {
	display: grid;
}

.grid-two-columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.grid-three-columns {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.flex-grow {
	flex: 1;
}

.flex-wrap {
	flex-wrap: wrap;
}

.nowrap {
	white-space: nowrap;
}

.justify-content-right {
	justify-content: right;
}

.align-items-center {
	align-items: center;
}

.align-content-center {
	align-content: center;
}

.small-gap {
	gap: 0.5em;
}

.medium-gap {
	gap: 1em;
}

.large-gap {
	gap: 1.5em;
}

.extra-large-gap {
	gap: 5em;
}

.tile {
	background: var(--code-background);
	padding: 1.2em 1.5em;
	border: 1px solid var(--line-number-color);
}

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden !important;
}

.bold {
	font-weight: bold;
}

.keyword-color {
	color: var(--keyword-color);
}

.title-color {
	color: var(--title-color);
}

.built-in-color {
	color: var(--built-in-color);
}