.pagination {
  display: flex;
  gap: var(--size-4);
  align-items: center;
  justify-content: center;
  margin-top: var(--size-6);
}

.buttons {
  display: flex;
  gap: var(--size-3);
}

.secondChevron {
  display: flex;
  align-items: center;
  margin-left: -1.4em;
}

@media (max-width: 767.98px) {
  .secondChevron {
    margin-left: -1.45em;
  }
}
